.skills-box {
  padding-top: 2em;
}

.skills {
  margin-top: 3em;
}
.skills p {
  display: flex;
  font-size: 1.3em;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  color: #AC6C7E;
  width: 10vw;
}

.skills a {
  text-decoration: none;
  color: black;
}


.skills span {
  font-size: 4em;
  padding-left: 1em;
}

h6 {
  color: #AC6C7E;
  font-size: 1.8em;  
}


@media only screen and (max-width: 500px) {

.skills-box {
  flex-direction: column
}

.skills p {
  font-size: .5em;
}

}