.NavBar {
  width: 100%;
  position: fixed;
  top: 0;
  height: 3em;
  z-index: 2;
}

.NavBarContainer {
  max-width: 78%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
}

.navItem a{
  cursor: pointer;
  color: #AC6C7E;
  font-size: 2em; 
  text-decoration: none;
}

.navItem:hover{
  color: white;
}

@media only screen and (max-width: 500px) {
  .NavBar {
    width: 100vw;
        font-size: .5em;

  }
  .NavBarContainer {
    
  }

  .navItem a {
  }


}
