* {
  margin: 0 auto;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #F4F4F5;
/*  background: #BCB1B7;
*/}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
/*  background: #DAD4D7;
*/}

a {
  text-decoration: none;
}
li {
  color: #AC6C7E;
  cursor: pointer;
  font-size: 2em;  
}

li a {
  display: block;
  color: #E9E9E9;
  font-size: 2em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

section {
  text-align: center;
  animation: fadeIn .75s ease-in;
}

/*h2, h3 {
  color: #E9E9E9;
}*/

p {
  width: 50%;
  padding: 1em;
  font-size: 1.5em;
}

footer {
  background: black;
  color: white;
}
figure { 
/*  display: inline-block; 
  position: relative; 
  overflow: hidden; */
  width: 31vw;
}

figcaption { 
  position: absolute; 
  background: rgba(0,0,0,0.75); 
  color: white; 
  padding: 10px 20px; 

  opacity: 0;
  bottom: 0; 
  left: -30%;
/*  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;*/
}

figure:hover figcaption {
  opacity: 1;
  left: 0;
}

/*.devicon-git-plain {
  max-width: 2em;
}

.devicon-html5-plain {
  max-width: 2em;
}
*/

.container {
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  margin-top: 1em;
}


.contact a {
  text-decoration: none;
  color: black;
  /*color: #E9E9E9;*/
  padding: 1em;
}

.contact-links {
  margin-top: .2em;
}

.Landing {
  color: #545060;
  margin-top: 5em;
}

.page {
  height: 100vh;

}


.logo {
  margin: 0 auto;
  font-size: 6em;
  text-align: center;
  color: #545060;

}

#me {
  width: 24em;
  height: 18em;
  border-radius: 8px;
}

.contact {
  margin-top: 3em;
  font-size: 50px;
}

.contact section {
  display: flex;
  justify-content: center;
}

.contact-links {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.contact p {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1em;
}

.contact a:hover {
  color: #DEDDE0;
}

.skills-box {
  display: flex;
}

.skills {
  margin-top: 3em;
}
.skills p {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
  border-radius: 8px;
  background: #FAFAFA;
  width: 20vw;
  box-shadow: 3px 3px 5px #888888;
}

.skills a {
  text-decoration: none;
  color: black;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


.Projects {
/*    background: url('./images/projects2.jpg');
*/
}
.projects {
  width: 25em;
  height: 20em;
  border-radius: 25px;
  padding: 1em;
}

.projButton {
  text-decoration: none;
}

/*.projDesc {
  width: 15em;
}*/

/*.projDesc p{
  width: 15em;
}
*/


.proj {
  display: flex;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@media only screen and (max-width: 1000px) {
/*.Landing {
  color: #545060;
  margin-top: 5em;
  height: 60vh;
  }*/
}


/*TABLET*/
@media only screen and (max-width: 780px) {
.Contact section {
  display: flex;
  justify-content: center;
}

.contact-links {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.contact p {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: .75em;
  padding: 0;
}

.contact a:hover {
  color: white;
  } 

/*.projDesc {
  display: flex;
flex-direction: column; 
}*/
}


/*MOBILE*/
@media only screen and (max-width: 500px) {
  /*About Me*/

  h2 {
    font-size: 2em;
  }
  li {
    color: black;
    font-size: 1em;
    text-align: center;
    padding: 14px 16px;
  } 

  .Landing {
    height: 10em;
    margin-top: 5em;
  }
  .logo {
    font-size: 3em;
  }
  p {
  width: 80%;
  }
  #me {
  width: 20em;
  height: 18em;
  border-radius: 8px;
  }

  /*Projects*/

figure {
  width: 50vw;
  flex-direction: column;
}
.projects {
  width: 50vw;
  height: 10em;
  flex-direction: column;
}

/*.project-container {
  display: flex;
}*/
  /*Skills*/
.skills-box {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  margin-top: 2em;
}
.skills p {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
  border-radius: 8px;
  background: #FAFAFA;
  width: 15vw;
  box-shadow: 3px 3px 5px #888888;
}

.skills a {
  text-decoration: none;
  color: black;
}


  /*Contact*/

  .Contact {
    margin-top: 1em;
    font-size: 50px;    
  }

h2 {
   font-size: .75em;
}

.Contact section {
  display: flex;
  justify-content: center;
}

.contact-links {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.contact p {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: .75em;
  padding: 0;
}

.contact a:hover {
  color: white;
}
}
