* {
  margin: 0 auto;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  text-align: center;
  color: #DCDCDD;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23538a+0,a7cfdf+100 */
  background: #23538a; /* Old browsers */
  background: -moz-linear-gradient(top, #23538a 0%, #a7cfdf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #23538a 0%,#a7cfdf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #23538a 0%,#a7cfdf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#a7cfdf',GradientType=0 ); /* IE6-9 */
}

section {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxes:hover {
  opacity: 0.75;
  background: #F7F7F7;
}