.btn {
  background: white;
  text-decoration: none;
  margin: auto;
  border-radius: 4px;
  box-shadow: 2px 2px 0px #373737 !important;
  border: 1px solid #373737 !important;
}

.btn:hover {
  color: black;
}

.boxes {
  border: 1px solid #373737 !important;
  box-shadow: 2px 2px 0px #373737 !important;
  border-radius: 4px;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}


@media only screen and (max-width: 600px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn {
    margin: .5em;
    padding-left: .2em;
    padding-right: .2em;
  }

  .project-description {
    font-size: .5em;
  }

  .boxes {
    width: 80%;
    margin: .3em;
  }

  .project-buttons {
    margin-top: .6em;
  }
} 

@media only screen and (max-width: 786px) {
  .project-description {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 80%;
  }

  .btn {
    margin: .5em;
    padding-left: .3em;
    padding-right: .3em;
  }

  .project-buttons {
    margin-top: .8em;
  }

  .boxes {
    margin: .6em;
  }
}

@media only screen and (min-width: 787px) and (max-width: 1440px) {
  .boxes {
    margin: .5em;
  }

  .project-description {
    font-size: .6em;
    margin: 2em;
  }

  .project-buttons {
    margin-top: .9em;
  }

  .btn {
    margin-top: 1em;
    margin: 1em;
    padding-left: .5em;
    padding-right: .5em;
    font-size: 1.5em;
  }
}
