.intro {
margin-top: 10em;
}

.logo {
  margin: 0 auto;
  font-size: 6em;
  text-align: center;
  color: #545060;
}


@media only screen and (max-width: 500px) {
  h2 {
    font-size: 2em;
  }
  li {
    font-size: 1em;
    text-align: center;
    padding: 14px 16px;
  } 

  .logo {
    font-size: 3em;
  }
  p {
  width: 80%;
  }
  #me {
  width: 20em;
  height: 18em;
  border-radius: 8px;
  }

  .intro {
    margin-top: 5em;
  }


}