.contact a {
  text-decoration: none;
  color: black;
  /*color: #E9E9E9;*/
  padding: 1em;
}

/*.contact-links {
  margin-top: .2em;
}*/

.contact {
  margin-top: 3em;
  margin-bottom: 0;
  font-size: 50px;
  height: 65vh;
}

.contact section {
  display: flex;
  justify-content: center;
}

.contact-links {
  display: flex;
  flex-direction: row;
  padding: 0;
/*  height: 80vh;
*/}

.contact p {
  display: flex;
  align-items: center;
/*  flex-direction: column;
*/  font-size: 1em;
}

.contact a:hover {
  color: #DEDDE0;
}

/*.page {
	height: 80vh;
}*/

footer {
  background: black;
  color: white;
}

span {
  color: #AC6C7E;
}




@media only screen and (max-width: 500px) {

h2 {
   font-size: .75em;
}
.contact section {
  display: flex;
  justify-content: center;
}

.contact-links {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.contact p {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: .60em;
  padding: 0;
}

.contact a:hover {
  color: white;
}
}